.container {
    max-width: 30vw;
    height: auto;
}

.timeline {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.timeline::before {
    background: var(--secondary-color);
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 20px;
    width: 5px;
}

.timelineItem {
    position: relative;
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    transform: translateX(-22px)  translateY(10px);
    gap: 20px;
}

.timelineIcon {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    transition: .2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timelineIcon:hover, .timelineIcon.active {
    transform: scale(1.2);
    box-shadow: 0px 2px 5px 0px rgba(23, 23, 23, .2);
    background-color: var(--secondary-color-light);
    border: 2px solid var(--main-color2);
}

.timelineContent {
    display: block;
    width: 100%;
    overflow: hidden;
    transform-origin: left;
    transform: scaleX(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    background-color: var(--white-2);
    padding: 0 20px;
}

.timelineContent.show {
    transform: scaleX(1);
    opacity: 1;
    padding: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    max-height: 300px;
}

.miniLabel {
    display: inline-block;
    width: fit-content;
    background: var(--secondary-color);
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 1.3rem;
    white-space: nowrap;
    animation: fadeIn 0.3s ease;
    margin-left: 10px;
}

.button {
    background-color: var(--main-color4);
    margin-left: 10px;
    padding: 10px;
    color: var(--white-2);
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.button:hover{
    background-color: var(--main-color5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}