.button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.625rem;
    padding: 0.9375rem 1.875rem;
    font-size: 1rem;
    color: var(--text-color);
    border: none;
    border-radius: 0.3125rem;
    text-wrap: nowrap;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
}

/* Icône d'un bouton */
.button i {
    font-size: 1.125rem;
    /* 18px */
}

/* Styles spécifiques des boutons */
.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.tertiary {
    background-color: var(--tertiary-color);
}

/* Styles commun au survol des boutons */
.animate:hover {
    transform: scale(var(--hover-scale));
    -webkit-transform: scale(var(--hover-scale));
    animation: pulse 1s infinite;
}

/* Styles spécifiques au survol des boutons */
.primary:hover {
    background-color: #234a73;
}

.secondary:hover {
    background-color: #d2902b;
}

.tertiary:hover {
    background-color: #b6422d;
}

/* Styles du focus sur les boutons (acessibilité) */
.button:focus-visible {
    outline: none;
    /* Supprime l'effet de focus par défaut */
}

.primary:focus-visible {
    box-shadow: var(--focus-shadow-primary);
    -webkit-box-shadow: var(--focus-shadow-primary);
}

.secondary:focus-visible {
    box-shadow: var(--focus-shadow-secondary);
    -webkit-box-shadow: var(--focus-shadow-secondary);
}

.tertiary:focus-visible {
    box-shadow: var(--focus-shadow-tertiary);
    -webkit-box-shadow: var(--focus-shadow-tertiary);
}

/* Animation */
@-webkit-keyframes pulse {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    50% {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}